/**
 *  @author Le Vinh Thien
 *  @email  ohmygodvt95@gmail.com
 * @copyright Semantic Innovation Group 31/8/2015
 **/
@media (min-width:768px) {
    .products img {
        width: 200px
    }
    .intro .intro-header {
        padding-top: 150px
    }
    .navbar-default {
        background-color: transparent;
        padding: 30px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: #254F75 !important;
        padding: 10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
    .intro .intro-header h1 {
        font-size: 48px
    }
    .intro .intro-header h4 {
        font-size: 20px
    }
}
.text-bold {
    font-weight: bolder
}
@media (max-width:850px) {
    .about-more-info li{
        font-size: 12px!important;
    }
    .about-info .col-sm-12 {
        font-size: 14px;
        padding: 5px
    }
    footer h3 {
        line-height: 40px;
        font-size: 14px;
        text-align: left !important
    }
    .bx-pager img {
        height: 40px;
        width: 40px;
        border-radius: 2px
    }
    .products img {
        display: none
    }
    .subheadline {
        font-size: 12px
    }
    .features li {
        font-size: 12px
    }
    .products, .gallery, .testis, .pricing, .newsletter, .contact {
        padding: 5px 0
    }
    .products {
        text-align: center
    }
    .products-block .i {
        position: relative;
        margin-bottom: 20px
    }
    .products-block {
        padding-left: 0
    }
    .products-block h3 {
        text-align: center
    }
    .products-block ul.features li {
        text-align: left
    }
    .products .heading:after {
        margin: 0 auto
    }
    .introduction p {
        font-size: 12px
    }
}